<div class="timer-controls" >
    <div class="minutes control">
            <span data-ng-click="add('minutes',99)" class=" icon">
                <i class="material-icons">keyboard_arrow_up</i>
            </span>
        <input  placeholder="mm" class="minutes" data-ng-model="timer.set.minutes" type="number" >
            <span  data-ng-click="substract('minutes',99)" class="icon">
                <i class="material-icons">keyboard_arrow_down</i>
            </span>
    </div>
    <div class="seconds control">
            <span  data-ng-click="add('seconds',59)" class="icon">
                <i class="material-icons">keyboard_arrow_up</i>
            </span>
        <input  placeholder="ss" class="seconds" data-ng-model="timer.set.seconds" type="number" >
            <span  data-ng-click="substract('seconds',59)" class="icon">
                <i class="material-icons">keyboard_arrow_down</i>
            </span>
    </div>
</div>
<style>
    .wrapper {
        position: relative;
        margin: 40px auto;
        background: white;
    }

    .wrapper, .wrapper * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .wrapper {
        width: 250px;
        height: 250px;
    }

    .wrapper .pie {
        width: 50%;
        height: 100%;
        transform-origin: 100% 50%;
        position: absolute;
        background: #08C;
        border: 5px solid rgba(0,0,0,0.5);
    }

    .wrapper .spinner {
        border-radius: 100% 0 0 100% / 50% 0 0 50%;
        z-index: 200;
        border-right: none;

        transform:rotate(0deg);
        /*
        animation: rota 5s linear infinite;*/
    }

    .wrapper:hover .spinner,
    .wrapper:hover .filler,
    .wrapper:hover .mask {
        animation-play-state: running;
    }

    .wrapper .filler {
        border-radius: 0 100% 100% 0 / 0 50% 50% 0;
        left: 50%;
        opacity: 0;
        z-index: 100;
        /*
        animation: opa 5s steps(1, end) infinite reverse;*/
        border-left: none;
    }

    .wrapper .mask {
        width: 50%;
        height: 100%;
        position: absolute;
        background: inherit;
        opacity:1;
        z-index: 300;
        /* animation: opa 5s steps(1, end) infinite;*/
    }

    @keyframes rota {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes opa {
        0% {
            opacity: 1;
        }
        50%, 100% {
            opacity: 0;
        }
    }

</style>


<div class="time">
    <span class="minutes">{{timer.elapsed.minutes}}</span>
    <span class="dots">:</span>
    <span class="seconds">{{timer.elapsed.seconds}}</span>
</div>

<!--
<div class="wrapper">
    <div data-ng-style="circleStyle.spinner"  class="spinner pie animated"></div>
    <div data-ng-style="circleStyle.filler" class="filler pie"></div>
    <div data-ng-style="circleStyle.mask" class="mask"></div>
</div>-->

<!--
<div class="circle-wrapper" >

    <div class="circle">


    </div>

    <div class="circle circle-elapsed" data-ng-style="circleElapsed">

    </div>
</div>
-->

<footer class="footer animated" >

    <span class="stop action" data-ng-click="stopTimer(true)">
        <i class="material-icons">autorenew</i>
    </span>

    <span class="toggle action" data-ng-click="toggleTimer(true)">
             <i class="material-icons" data-ng-if="timer.running">timer_off</i>
        <i class="material-icons" data-ng-if="!timer.running">timer</i>
    </span>

</footer>