<div class="timer-controls">
    <div class="minutes control">
            <span data-ng-click="add('minutes')" class="icon">
                <i class="material-icons">keyboard_arrow_up</i>
            </span>
        <input disabled placeholder="mm" data-ng-model="timer.minutes" type="number" >
            <span  data-ng-click="substract('minutes')" class="icon">
                <i class="material-icons">keyboard_arrow_down</i>
            </span>
    </div>
    <div class="seconds control">
            <span  data-ng-click="add('seconds')" class="icon">
                <i class="material-icons">keyboard_arrow_up</i>
            </span>
        <input disabled placeholder="ss" data-ng-model="timer.seconds" type="number" >
            <span  data-ng-click="substract('seconds')" class="icon">
                <i class="material-icons">keyboard_arrow_down</i>
            </span>
    </div>
</div>

<div class="circle-wrapper" >
    <div class="time" data-ng-click="startTimer()">
        <span class="minutes">{{timer.elapsed.minutes}}</span>
        <span class="dots">:</span>
        <span class="seconds">{{timer.elapsed.seconds}}</span>
    </div>
    <div class="circle">


    </div>

    <div class="circle circle-elapsed" data-ng-style="circleElapsed">

    </div>
</div>

<footer class="footer animated" data-ng-click="stopTimer()">
    <span class="stop">
        <i class="material-icons">timer_off</i>
    </span>
</footer>